:root {
	--primary-color: #05081d;
	--secondary-color: #4f5544;
	--tertiary-color: #05081d;
	--forth-color: #7e6d53;
	--fifth-color: white;
	--white: rgba(255, 255, 255, 0.623);
	--title-font: 'Archivo Black', sans-serif;
	--title-font-thin: 'Quattrocento Sans', sans-serif;
	--copy-font: 'EB Garamond', serif;
}