:root {
	--primary-color: #e9c9fc;
	--secondary-color: #382442;
	--tertiary-color: #705480;
	--transparent-white: #67447a71;
	--title-font: 'Open Sans', 'sans-serif';
	--copy-font: 'Open Sans', sans-serif;
}